.pnotify{
    display: flex;
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
}

.brighttheme-icon-closer{
    display: flex;
    position: absolute;
    top: 0;
    right: 4px;
}

.pnotify-sticker{
  display: flex;
  position: absolute;
  top: 10;
  right: 4px;
}




body{
   background-image:linear-gradient(
  to right,
  #f44336 5%,
  #09792b 40%,
  #00b9ff 65%,
  #ffb800 
);
}


.search_container{
  display: flex;
  justify-content: center;

}


.input{
  display: flex;
  margin-top: 20px;
}

.country_list{
 display: flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
}

.country_card{
  display: flex;
  justify-content: center;
}

.country_name{
  text-align: center;
 
}

.country_flag{
margin-left: 30px;
}

.country_info{
  font-size: 20px;
}

.countries-found-data{
  font-weight: bold;
  margin-bottom: 10px;
}
.search_label{
  font-size: 20px;
}